<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.email %}
          <li class="list-inline-item">
            <a class="social-link" href="mailto:{{ site.email | encode_email }}" aria-label="Email">
              <svg class="social-svg" viewBox="0 0 48 48" aria-hidden="true" focusable="false">
                <circle class="social-circle" cx="24" cy="24" r="24" />
                <path class="social-glyph" d="M12 16a2 2 0 0 1 2-2h20a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H14a2 2 0 0 1-2-2V16zm2 0v.01L24 24l10-7.99V16H14zm0 4.35V32h20V20.35l-9.2 6.2a2 2 0 0 1-2.27 0L14 20.35z"/>
              </svg>
            </a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a class="social-link" href="https://twitter.com/{{ site.twitter_username }}" aria-label="Twitter">
              <svg class="social-svg" viewBox="0 0 48 48" aria-hidden="true" focusable="false">
                <circle class="social-circle" cx="24" cy="24" r="24" />
                <text class="social-text" x="24" y="26" text-anchor="middle" dominant-baseline="middle">X</text>
              </svg>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li class="list-inline-item">
            <a class="social-link" href="https://www.facebook.com/{{ site.facebook_username }}" aria-label="Facebook">
              <svg class="social-svg" viewBox="0 0 48 48" aria-hidden="true" focusable="false">
                <circle class="social-circle" cx="24" cy="24" r="24" />
                <text class="social-text" x="24" y="26" text-anchor="middle" dominant-baseline="middle">f</text>
              </svg>
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li class="list-inline-item">
            <a class="social-link" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" aria-label="LinkedIn">
              <svg class="social-svg" viewBox="0 0 48 48" aria-hidden="true" focusable="false">
                <circle class="social-circle" cx="24" cy="24" r="24" />
                <text class="social-text" x="24" y="26" text-anchor="middle" dominant-baseline="middle">in</text>
              </svg>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a class="social-link" href="https://github.com/{{ site.github_username }}" aria-label="GitHub">
              <svg class="social-svg" viewBox="0 0 48 48" aria-hidden="true" focusable="false">
                <circle class="social-circle" cx="24" cy="24" r="24" />
                <path class="social-glyph" fill-rule="evenodd" clip-rule="evenodd" d="M24 8c-8.837 0-16 7.163-16 16 0 7.07 4.584 13.063 10.94 15.18.8.147 1.093-.347 1.093-.77 0-.38-.014-1.386-.022-2.72-4.45.968-5.39-2.146-5.39-2.146-.727-1.85-1.777-2.344-1.777-2.344-1.453-.994.11-.974.11-.974 1.606.114 2.45 1.65 2.45 1.65 1.428 2.446 3.748 1.739 4.66 1.329.145-1.034.558-1.74 1.016-2.14-3.553-.404-7.29-1.777-7.29-7.91 0-1.747.624-3.175 1.65-4.293-.166-.404-.715-2.03.156-4.233 0 0 1.344-.43 4.4 1.64 1.276-.355 2.646-.532 4.006-.538 1.36.006 2.73.183 4.006.538 3.056-2.07 4.398-1.64 4.398-1.64.872 2.203.324 3.83.159 4.233 1.028 1.118 1.65 2.546 1.65 4.293 0 6.148-3.742 7.503-7.306 7.898.573.495 1.084 1.47 1.084 2.962 0 2.138-.02 3.863-.02 4.39 0 .426.29.923 1.1.767C35.42 37.063 40 31.07 40 24c0-8.837-7.163-16-16-16Z"/>
              </svg>
            </a>
          </li>
          {% endif %}
          {% if site.instagram_username %}
          <li class="list-inline-item">
            <a class="social-link" href="https://instagram.com/{{ site.instagram_username }}" aria-label="Instagram">
              <svg class="social-svg" viewBox="0 0 48 48" aria-hidden="true" focusable="false">
                <circle class="social-circle" cx="24" cy="24" r="24" />
                <text class="social-text" x="24" y="26" text-anchor="middle" dominant-baseline="middle">IG</text>
              </svg>
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>
